@page
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="capability-selector-page">
    <div class="page-description">
        <h1>Select the Capabilities you are looking for</h1>
        <p>Select the Capabilites you want to search for. Once you have selected all the capabilities you want solutions to provide you can apply your search</p>
        <p><a href="/results?allSolutions=true">View All solutions</a></p>
        <p><a href="/results?onlyFoundation=true">View All Foundation Solutions</a></p>
    </div>
    <form method="post">
        <section class="form-controls">
            <button type="submit">Apply Search</button>
        </section>
        <!-- collapsible should be turned into a partial. -->
        <div class="collapsible">
            <h2 class="collapsible-label">Foundation Capabilities</h2>
            <ul class="capability-selector">
                @for (var i=0; i < Model.Capabilities.Count; i++) {
                    @if (Model.Capabilities[i].IsFoundation) {
                        <li>
                            <div class="upper">
                                <h3><a href=@Html.DisplayFor(model => Model.Capabilities[i].URL)>@Html.DisplayFor(modelItem => Model.Capabilities[i].Title)</a></h3>
                            </div>
                            <p class="middle">@Html.DisplayFor(model => Model.Capabilities[i].Summary)</p>
                            <div class="lower">
                                <label>@Html.CheckBoxFor(model => Model.SelectableCapabilities[i].IsSelected) Add Capability</label>
                                @Html.HiddenFor(m => Model.SelectableCapabilities[i].ID)
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="collapsible">
            <h2 class="collapsible-label">Other Capabilities</h2>
            <ul class="capability-selector">
                @for (var i=0; i < Model.Capabilities.Count; i++) {
                    @if (!Model.Capabilities[i].IsFoundation) {
                        <li>
                            <div class="upper">
                                <h3><a href=@Html.DisplayFor(model => Model.Capabilities[i].URL)>@Html.DisplayFor(modelItem => Model.Capabilities[i].Title)</a></h3>
                            </div>
                            <p class="middle">@Html.DisplayFor(model => Model.Capabilities[i].Summary)</p>
                            <div class="lower">
                                <label>@Html.CheckBoxFor(model => Model.SelectableCapabilities[i].IsSelected) Add Capability</label>
                                @Html.HiddenFor(m => Model.SelectableCapabilities[i].ID)
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </form>
</div>