@page "{SolutionID}"
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model SolutionModel
@{
}
<div id="marketing-page">
    <div class="return-container">
        <a href="/Results">< Return to Results</a>
    </div>
    <div class="page-title">
        <h1>Marketing Page</h1>
    </div>

    <div class="panel-container">
        <div class="left-panel">
            <div class="headings">
                <h2>Page Contents</h2>
                <ul>
                    <li><a href="#summary">Summary</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#commercial-arrangements">Commercial Arrangements</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="#associated-services">Associated Services</a></li>
                    <li><a href="#additional-services">Additional Services</a></li>
                </ul>
            </div>
        </div>
        <div class="right-panel">
                <p>@Html.DisplayFor(modelItem => Model.SelectedSolution.Organisation)</p>
                <h2>@Html.DisplayFor(modelItem => Model.SelectedSolution.Name)</h2>
            <section id="summary">
                <h2>Summary</h2>
                <p>@Html.DisplayFor(modelItem => Model.SelectedSolution.Description)</p>
            </section>
            <section id="features">
                <h2>Features</h2>
                <ul class="features-listing">
                    @foreach (var feature in Model.SelectedSolution.Features) {
                        <li>
                            @Html.DisplayFor(modelItem => feature)
                        </li>
                    }
                </ul>
            </section>
            <section id="commercial-arrangements">
                <h2>Commercial Arrangements</h2>
                <table>
                    <tr>
                        <td>
                            <h3>Framework</h3>
                        </td>
                        <td>
                            <p>@Html.DisplayFor(modelItem => Model.SelectedSolution.Framework)</p>
                        </td>
                    </tr>
                </table>
            </section>
            <section id="pricing">
                <h2>Pricing</h2>
                <table>
                    <tr>
                        <td>
                            <h3>List Price</h3>
                        </td>
                        <td>
                            <p>@Html.DisplayFor(modelItem => Model.SelectedSolution.ListPrice)</p>
                        </td>
                    </tr>
                </table>
            </section>
            <section id="associated-services">
                <h2>Associated Services (Optional)</h2>
                <table>
                    @foreach (var service in Model.SelectedSolution.AssociatedServices) {
                    <tr>
                        <td>
                            <h3>@Html.DisplayFor(modelItem => service.Name)</h3>
                        </td>
                        <td>
                            <p>@Html.DisplayFor(modelItem => service.Price)</p>
                        </td>
                    </tr>
                    }
                </table>
            </section>
            <section id="additional-services">
                <h2>Additional Services (Optional)</h2>
                <table>
                    @foreach (var service in Model.SelectedSolution.AdditionalServices) {
                    <tr>
                        <td>
                            <h3>@Html.DisplayFor(modelItem => service.Name)</h3>
                        </td>
                        <td>
                            <p>@Html.DisplayFor(modelItem => service.Price)</p>
                        </td>
                    </tr>
                    }
                </table>
            </section>
        </div>
    </div>
</div>